body {
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    background: #ebebeb;
    width: 1140px;
    margin: 0px auto;
    padding: 20px 20px 50px 20px;
}

@media (max-width: 1199px) {
    .container {
        width: 940px;
    }
}

@media (max-width: 991px) {
    .container {
        width: 720px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 576px;
    }
}

@media (max-width: 543px) {
    .container {
        width: auto;
    }
}

:global .header {
    background: #c9c9c9;
    margin: 20px -20px 40px -20px;
    padding: 20px;
}

:global .header:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

:global .header h1 {
    margin: 0px;
    float: left;
}

:global .header .button {
    background: #4f5d85;
    padding: 8px 20px;
    color: #ffffff;
    text-decoration: none;
    float: right;
}

:global .header .button:visited {
     color: #ffffff;
}

@media (max-width: 543px) {
    :global .header {
        margin-top: 0px;
    }

    :global .header .button {
        float: left;
        clear: both;
        margin-top: 10px;
    }
}