.container {
    padding: 50px 0px;
}

.container:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.identity {
    float: left;
    width: 60%;
    box-sizing: border-box;
    padding: 0px 50px;
    text-align: center;
}

.identity h1 {
    margin: 0px;
    font-size: 3em;
}

@media (max-width: 991px) {
    .identity h1 {
        font-size: 2em;
    }

    .identity h3 {
        margin-top: 5px;
    }
}

@media (max-width: 767px) {
    .identity {
        width: 55%;
    }

    .identity h1 {
        padding: 0px 20px;
    }
}

@media (max-width: 543px) {
    .identity {
        width: 100%;
        text-align: left;
        padding: 0px;
    }

    .identity h1 {
        font-size: 2em;
        padding: 0px;
    }
}

.info {
    float: left;
    width: 40%;
    box-sizing: border-box;
    border-left: 1px solid #000000;
    padding-left: 20px;
}

@media (max-width: 767px) {
    .info {
        width: 45%;
    }
}

@media (max-width: 543px) {
    .info {
        width: 100%;
        padding: 20px 0px 0px 0px;
        margin-top: 30px;
        border-left: none;
        border-top: 1px solid #000000;
    }
}