.detail:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.topBarContainer {
    composes: container from './../../css/common.css';
    background: none;
    padding-bottom: 10px;
}

.container {
    composes: container from './../../css/common.css';
}