<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact List</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div id="main-app"></div>

<script type="text/javascript">
    window.APP_CONFIG = JSON.parse('{{{appConfig}}}');
</script>
<script type="text/javascript" src="/js/bundle.js"></script>

</body>
</html>