.container {
    composes: container from './../../css/common.css';
}

@media (max-width: 543px) {
    .container {
        padding-top: 0px;
    }
}

.filter {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

@media (max-width: 543px) {
    .container {
        padding-top: 0px;
    }
}

.filter button {
    padding: 10px;
    margin: 0 10px;
    background: #aaa;
    border: none;
    cursor: pointer;
}

.searchBar {
    padding: 8px;
    margin-right: 20px;
}

@media (max-width: 543px) {
    .sorting {
        display: block;
        margin-top: 15px;
    }

    .sortLabel {
        display: block;
        margin-bottom: 5px;
    }

    .filter button {
        margin-left: 0px;
        margin-right: 10px;
    }
}