.container {
    composes: container from './../../css/common.css';
}

@media (max-width: 543px) {
    .container {
        padding-top: 0px;
    }
}

.letterCountLabel {
    width: 20px;
    display: inline-block;
    font-weight: bold;
}